@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
	font-family: 'Consolas', monospace;
}

/*NAVIGATION*/

.topnav {
  overflow: hidden;
  background-color: transparent;
  float: right;
  top: 0;
  display: inline-block;
  visibility: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #00979D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Consolas', monospace;
  transition: 0.5s;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #00979D;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}

.topnav a.active {
    background-color: #00979D;
    color: #ffffff;
}

.topnav a:focus{
    text-decoration: none;
    color: white;
}

/*HOME*/

.bghead{
	height: 100vh;
	display: block;
	position: fixed;
	background-image: url("../img/titback.jpg");
	background-position: center center;
	background-size: cover;
	width: 100%;
	top: 0;
	z-index: -5;
}

.homeheader{
	height: 15vh;
	color: #00979D;
	font-family: 'Consolas', monospace;
	border-bottom: 2px solid #00979D;
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 5;
}

.tit{
	color: #00979D;
	font-family: 'Consolas', monospace;
	display: inline-block;
	padding: 20px;
	font-size: 25px;
}

.homebody{
	margin-top: 15vh;
	height: 85vh;
}

.homebody1{
	margin-top: 15vh;
	/*height: 85vh;*/
}

.logos{
	text-align: left;
	color: #00979D;
	font-family: 'Consolas', monospace;
	font-size: 20px;
	padding:10px;
	margin: 10px;
	border-radius: 10px;
	background-color: #ffffff;
}

.logoc{
	text-align: left;
	color: #00979D;
	font-family: 'Consolas', monospace;
	font-size: 15px;
	padding:10px;
	margin: 10px;
	border-radius: 10px;
	background-color: #ffffff;
}


.reg{
	/*visibility: hidden;*/
	display: inline-block;
	font-family: 'Consolas', monospace;
}

.reg:hover{
	color: #ffffff;

}

.reg a{
	text-decoration: none;
	color: #00979D;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 50px;
	padding: 10px;
}

.reg a:hover{
	text-decoration: none;
	color: #ffffff;
	border: 2px solid #ffffff;
	background-color: transparent;
}

/*REGISTER*/

.bodytab{
	display: table;
	width: 100%;
}

.tabcell{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.regform{
	text-align: center;
	width: 90vw;
	display: inline-block;
	font-family: 'Consolas', monospace;
	color: #fff;
}

.regform input{
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	height: 50px;
	width: 95%;
	font-size: 20px;
	color: #00979D;
	border: solid 2px #00959D;
}

.regform input[type=file]{
	color: white;
}

.regform button{
	background-color: #ffffff;
	color: #00979D;
	border-radius: 5px;
	border: none;
	height: 50px;
	width: 75%;
	margin: 15px;
	font-size: 25px;
	border: solid 2px #00959D;
}

.regform button:hover{
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
}

/*FOOTER*/

.footerc{
	
}

.fcont{
	margin:20px;
	background-color: #ffffff;
	color: #00979D;
	border-radius: 10px;
	height: 100%;
	padding: 10px;
	text-align: center;
	font-family: 'Consolas', monospace;
	font-size: 12px;
}

/*EDITOR*/

#editor {
    margin: 0;
    position: relative;
    height: 60vh;
    display: inline-block;
    top: 0;
    bottom: 0;
    width: 100%;
}

.editr{
	text-align: left;
	color: #00979D;
	font-family: 'Consolas', monospace;
	font-size: 40px;
	padding:15px;
	margin: 20px;
	margin-top: 50px;
	border-radius: 10px;
	background-color: #ffffff;
	height: 100%;
}

.codesub button{
	text-decoration: none;
	color: #ffffff;
	background-color: #00979D;
	border-radius: 5px;
	font-size: 20px;
	border: none;
	padding: 10px;
	display: inline-block;
}

.codesub button:hover{
	text-decoration: none;
	color: #00979D;
	border: 2px solid #00979D;
	background-color: transparent;
}

/*HOME*/

.nameg{
	background-color: #ffffff;
	color: #00979D;
	border-radius: 5px;
	padding: 10px;
}

.abtn{
	text-decoration: none;
	color: white;
	background-color: #00979D;
	padding: 10px;
	font-size: 25px;
	border-radius: 5px;
}

.abtn:hover{
	border: 2px solid #00979D;
	background-color: transparent;
	color: #00979D;
	text-decoration: none;
}

.abtn:focus{
	text-decoration: none;
	color: #00959D;
}

.info{
	color: #00979D;
	background-color: #fff;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
}

/*SIDENAV*/

.knav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    /*left: 0;*/
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    text-align: center;
}

.knav a {
    font-family: 'Consolas', monospace;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 40px;
    color: #00959D;
    display: block;
    transition: 0.1s;
    cursor: pointer;
}

.knav a:hover{
    color: #00959D;
    text-decoration: none;
}

.knav a:focus{
    text-decoration: none;
    color: #00959D;
}

.cmenu {
    position: fixed;
    top: 25px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: transparent;
    /*border: none;*/
    font-size: 36px;
    color: white;
    border: 2px solid white;
    /*transition: 0.5s;*/
    z-index: 900;
    /*visibility: hidden;*/
    /*margin-left: 50px;*/
}

.cmenu:hover{
    background-color: #0296FF;
    transition: 0.5s;
}

.omenu{
    position: fixed;
    top: 25px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #00959D;
    border: solid 2px #fff;
    font-size: 20px;
    /*transition: 0.5s;*/
    color: white;
    z-index: 800;

}

.omenu:hover{
    background-color: white;
    color: #0296FF;
    transition: 0.5s;
    border: solid 2px #111;
}

/*TABLE*/

table{
	/*padding: 20px;*/
	margin-top: 50px;
	background-color: #fff;
	color: #00959D;
	font-family: 'Consolas', monospace;
	border-radius: 5px;
	display: inline-block;
	border: 1px solid #00959D;
}

th{
	background-color: #00959D;
	color: white;
	padding: 5px;
	border-left: 1px solid #00959D;
	border-right: 1px solid #00959D;
}

td{
	padding: 5px;
	border-left: 1px solid #00959D;
	border-right: 1px solid #00959D;
}

.scroller_anchor{
	display: none;
	visibility: hidden;
}

.scroller{
	display: none;
	visibility: hidden;
}