@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
	font-family: 'Consolas', monospace;
}

/*NAVIGATION*/

.topnav {
  overflow: hidden;
  background-color: transparent;
  float: right;
  top: 0;
  display: inline-block;
}

.topnav a {
  float: left;
  display: block;
  color: #00979D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Consolas', monospace;
  transition: 0.5s;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #00979D;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}

.topnav a.active {
    background-color: #00979D;
    color: #ffffff;
}

.topnav a:focus{
    text-decoration: none;
    color: white;
}

.homeheader img{
	height: 100px;
	cursor: pointer;
	
}

.imgl{
	position: fixed;
	top 0;
	display: inline-block;

}

/*HOME*/

.bghead{
	height: 100vh;
	display: block;
	position: fixed;
	background-image: url("../img/titback.jpg");
	background-position: center center;
	background-size: cover;
	width: 100%;
	top: 0;
	z-index: -5;
}

.homeheader{
	height: 15vh;
	color: #00979D;
	font-family: 'Consolas', monospace;
	border-bottom: 2px solid #00979D;
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 5;
}

.tit{
	color: #00979D;
	font-family: 'Consolas', monospace;
	display: inline-block;
	padding: 20px;
	font-size: 40px;
}

.homebody{
	margin-top: 15vh;
	height: 85vh;
}

.homebody1{
	margin-top: 15vh;
	overflow: hidden;
	/*height: 85vh;*/
}

.logos{
	text-align: left;
	color: #00979D;
	font-family: 'Consolas', monospace;
	font-size: 40px;
	padding:15px;
	margin: 20px;
	margin-top: 50px;
	border-radius: 10px;
	background-color: #ffffff;
}

.logoc{
	text-align: left;
	color: #00979D;
	font-family: 'Consolas', monospace;
	font-size: 20px;
	padding:15px;
	margin: 20px;
	margin-top: 50px;
	border-radius: 10px;
	background-color: #ffffff;
}

.reg{
	display: inline-block;
	font-family: 'Consolas', monospace;
	margin-top: 20px;
}

.reg:hover{
	color: #ffffff;

}

.reg a{
	text-decoration: none;
	color: #00979D;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 50px;
	padding: 20px;
}

.reg a:hover{
	text-decoration: none;
	color: #ffffff;
	border: 2px solid #ffffff;
	background-color: transparent;
}

/*REGISTER*/

.bodytab{
	display: table;
	width: 100%;
}

.tabcell{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.regform{
	text-align: center;
	width: 40vw;
	display: inline-block;
	padding: 20px;
	font-family: 'Consolas', monospace;
	color: #fff;
}

.regform input{
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	height: 50px;
	width: 75%;
	font-size: 20px;
	color: #00979D;
}

.regform input[type=file]{
	color: white;
}

.regform button{
	background-color: #ffffff;
	color: #00979D;
	border-radius: 5px;
	border: none;
	height: 50px;
	width: 75%;
	margin: 15px;
	font-size: 25px;
}

.regform button:hover{
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
}

/*FOOTER*/

.footerc{
	
}

.fcont{
	margin:20px;
	background-color: #ffffff;
	color: #00979D;
	border-radius: 10px;
	height: 100%;
	padding: 10px;
	text-align: center;
	font-family: 'Consolas', monospace;
}

/*EDITOR*/

#editor {
    margin: 0;
    position: relative;
    height: 60vh;
    display: inline-block;
    top: 0;
    bottom: 0;
    width: 100%;
}

.editr{
	text-align: left;
	color: #00979D;
	font-family: 'Consolas', monospace;
	font-size: 40px;
	padding:15px;
	margin: 20px;
	margin-top: 50px;
	border-radius: 10px;
	background-color: #ffffff;
	height: 100%;
}

.codesub button{
	text-decoration: none;
	color: #ffffff;
	background-color: #00979D;
	border-radius: 5px;
	font-size: 20px;
	border: none;
	padding: 10px;
	display: inline-block;
}

.codesub button:hover{
	text-decoration: none;
	color: #00979D;
	border: 2px solid #00979D;
	background-color: transparent;
}

/*HOME*/

.nameg{
	background-color: #ffffff;
	color: #00979D;
	border-radius: 5px;
	padding: 10px;
}

.abtn{
	text-decoration: none;
	color: white;
	background-color: #00979D;
	padding: 10px;
	font-size: 25px;
	border-radius: 5px;
}

.abtn:hover{
	border: 2px solid #00979D;
	background-color: transparent;
	color: #00979D;
	text-decoration: none;
}

.abtn:focus{
	text-decoration: none;
	color: #00959D;
}

.info{
	color: #00979D;
	background-color: #fff;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
}

/*SIDENAV*/

.knav {
    visibility: hidden;
}

.cmenu {
    visibility: hidden;
}

.omenu{
    visibility: hidden;
}


/*TABLE*/

table{
	/*padding: 20px;*/
	margin-top: 50px;
	background-color: #fff;
	color: #00959D;
	font-family: 'Consolas', monospace;
	border-radius: 5px;
	display: inline-block;
	border: 1px solid #00959D;
}

th{
	background-color: #00959D;
	color: white;
	padding: 10px;
	border-left: 1px solid #00959D;
	border-right: 1px solid #00959D;
}

td{
	padding: 8px;
	border-left: 1px solid #00959D;
	border-right: 1px solid #00959D;
}

.scroller_anchor{
	/*height: 15vh;*/
}

.scroller{
	/*transition: 0.5s;*/
}